:root {
    --item-radius: 14px;
    --font-color: black;
    --background-color: white;
    --primary-color: white;
    --shadow-color: rgb(114, 185, 235);

}

.navbar {
    box-sizing: border-box;
}



@media screen and (min-width:768px) {
    .navbar {
        max-width: 70%;
        margin: auto;
    }
    header {
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 8px;
    }
    header > input {
        border-radius: 15px;
        flex: 1;
        padding-left: 15px;
        margin: auto 20px;
    }
    .logo {
        width: 1.6px;
        display: block;
        margin: auto;
    }
    nav {
        display: flex;
        align-items: center;
    }
    .nav-links .navl {
        cursor: pointer;
        padding: 10px;
    }
    .nav-icons {
        display: flex;
        align-items: baseline;
    }
    .nav-icons .navi {
        cursor: pointer;
        font-size: 1.6rem;
        padding: 5px;
    }

    /* .nav-icons {
        font-size: 24px;
        display: inline-block;
    }
    .nav-icons svg {
        display: block;
        margin: auto 0px;
    }
    .nav-items span{
        margin: 7px;
    } */
     
    
}